ccmm-xsd-flat/mirror-ccmm/metadata-record/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../language-system/schema.xsd"/>
  <xs:include schemaLocation="../resource-to-agent-relationship/schema.xsd"/>
  <xs:include schemaLocation="../application-profile/schema.xsd"/>
  <xs:include schemaLocation="../repository/schema.xsd"/>
  <xs:complexType name="metadata_record" sawsdl:modelReference="http://www.w3.org/ns/dcat#CatalogRecord">
    <xs:annotation>
      <xs:documentation xml:lang="ar">
        سجل
      </xs:documentation>
      <xs:documentation xml:lang="cs">
        Katalogizační záznam - Záznam v datovém katalogu popisující jednu datovou sadu či datovou službu.
      </xs:documentation>
      <xs:documentation xml:lang="da">
        Katalogpost - En post i et datakatalog der beskriver registreringen af et enkelt datasæt eller en datatjeneste.
      </xs:documentation>
      <xs:documentation xml:lang="el">
        Καταγραφή καταλόγου - Μία καταγραφή ενός καταλόγου, η οποία περιγράφει ένα συγκεκριμένο σύνολο δεδομένων.
      </xs:documentation>
      <xs:documentation xml:lang="en">
        Metadata Record - Description of the metadata record of the dataset. 
        In case metadata is harvested from external catalogue, metadata record IRI shall be the same as IRI of the metadata record in original repository.
      </xs:documentation>
      <xs:documentation xml:lang="es">
        Registro del catálogo - Un registro en un catálogo de datos que describe un solo conjunto de datos o un servicio de datos.
      </xs:documentation>
      <xs:documentation xml:lang="fr">
        Registre du catalogue - Un registre du catalogue ou une entrée du catalogue, décrivant un seul jeu de données.
      </xs:documentation>
      <xs:documentation xml:lang="it">
        Record di catalogo - Un record in un catalogo di dati che descrive un singolo dataset o servizio di dati.
      </xs:documentation>
      <xs:documentation xml:lang="ja">
        カタログ・レコード - 1つのデータセットを記述したデータ・カタログ内のレコード。
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="language" type="ccmm:language_system" sawsdl:modelReference="http://purl.org/dc/terms/language">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            language - A language used in the textual metadata describing titles, descriptions of the metadata record.
            This property can be repeated if the metadata is provided in multiple languages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="qualified_relation" type="ccmm:resource_to_agent_relationship" sawsdl:modelReference="http://www.w3.org/ns/dcat#qualifiedRelation">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            kvalifikovaný vztah - Odkaz na popis vztahu s jiným zdrojem.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            Kvalificeret relation - Reference til en beskrivelse af en relation til en anden ressource.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            qualified relation - Link to a description of a relationship between metadata record and agent with the specification of the role of agent in this relationship.
            Relationship shall contain at least one agent with role &#34;Data Manager&#34; from codelist https://vocabs.ccmm.cz/registry/codelist/AgentRole/.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            relación calificada - Enlace a una descripción de la relación con otro recurso.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            relazione qualificata - Link a una descrizione di una relazione con un'altra risorsa.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="date_updated" type="xs:date" sawsdl:modelReference="http://purl.org/dc/terms/modified">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            date updated - Date on which the resource was changed.
            The date on which the metadata record was changed or modified.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="date_created" type="xs:date" sawsdl:modelReference="http://purl.org/dc/terms/created">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            date created - The date on which the metadata record was created.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="conforms_to_standard" type="ccmm:application_profile" sawsdl:modelReference="http://purl.org/dc/terms/conformsTo">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            conforms to standard - An established standard to which the metadata record conforms.
            This property SHOULD be used to indicate the standard or profile that was used to describe cataloged resource content.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="original_repository" type="ccmm:repository" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#originalRepository">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has original repository - Link to the repository in which the metadata were originally stored and curated.
            Original repository is a repository where the original metadata was harvested from or where it was created and/or published. There is always exactly one original repository. 
            If metadata record is harvested form other repository, make sure to include the first repository from which it was harvested.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metadata_record" type="ccmm:metadata_record"/>
</xs:schema>
