flattenCCMM/mirror-ccmm/organization/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../identifier/schema.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="../contact-details/schema.xsd"/>
  <xs:complexType name="organization" sawsdl:modelReference="http://www.w3.org/ns/prov#Organization http://xmlns.com/foaf/0.1/Agent">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Organization - Represents a collection of people organized together into a community or other social, commercial or political structure. The group has some common purpose or reason for existence which goes beyond the set of people belonging to it and can act as an Agent. Organizations are often decomposable into hierarchical structures. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="identifier" type="ccmm:identifier" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#hasIdentifier">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has identifier - has identifier
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://xmlns.com/foaf/0.1/name">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            name - Name of the agent.
            It is used for the official name of the agent. For Persons it is combination of first and family names. Recommended format is &#34;family names, first names&#34;.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alternate_name" sawsdl:modelReference="http://www.w3.org/2006/vcard/ns#organization-name">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            alternate name - To specify the organizational name associated with the object
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contact_point" type="ccmm:contact_details" sawsdl:modelReference="http://www.w3.org/ns/dcat#contactPoint">
        <xs:annotation>
          <xs:documentation xml:lang="ar">
            عنوان اتصال - تربط قائمة البيانات بعنوان اتصال موصف  باستخدام VCard
          </xs:documentation>
          <xs:documentation xml:lang="cs">
            má kontaktní bod - Relevantní kontaktní informace pro katalogizovaný zdroj. Doporučuje se použít slovník VCard.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            kontaktpunkt - Relevante kontaktoplysninger for den katalogiserede ressource. Anvendelse af vCard anbefales.
          </xs:documentation>
          <xs:documentation xml:lang="el">
            σημείο επικοινωνίας - Συνδέει ένα σύνολο δεδομένων με ένα σχετικό σημείο επικοινωνίας, μέσω VCard.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            has contact point - Relevant contact information for the catalogued resource. 
          </xs:documentation>
          <xs:documentation xml:lang="es">
            Punto de contacto - Información relevante de contacto para el recurso catalogado. Se recomienda el uso de vCard.
          </xs:documentation>
          <xs:documentation xml:lang="fr">
            point de contact - Relie un jeu de données à une information de contact utile en utilisant VCard.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            punto di contatto - Informazioni di contatto rilevanti per la risorsa catalogata. Si raccomanda l'uso di vCard.
          </xs:documentation>
          <xs:documentation xml:lang="ja">
            窓口 - データセットを、VCardを用いて提供されている適切な連絡先情報にリンクします。
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="organization" type="ccmm:organization"/>
</xs:schema>
