flattenCCMM/mirror-ccmm/terms-of-use/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../access-rights/schema.xsd"/>
  <xs:include schemaLocation="../license-document/schema.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="../agent/schema.xsd"/>
  <xs:complexType name="terms_of_use" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#Rights">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Terms of use - Terms of use defines overall conditions and rights regarding access and usage  of dataset. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="access_rights" type="ccmm:access_rights" sawsdl:modelReference="http://purl.org/dc/terms/accessRights">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            access rights - Information about the conditions to access the resource or an indication of its security status.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="license" type="ccmm:license_document" sawsdl:modelReference="http://purl.org/dc/terms/license">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has license - Reference to the legal document giving official permission to do something with the resource.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="description" sawsdl:modelReference="http://purl.org/dc/terms/description">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            description - Descriptive text on details of rights and licensing.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contact_point" type="ccmm:agent" sawsdl:modelReference="http://www.w3.org/ns/dcat#contactPoint">
        <xs:annotation>
          <xs:documentation xml:lang="ar">
            عنوان اتصال - تربط قائمة البيانات بعنوان اتصال موصف  باستخدام VCard
          </xs:documentation>
          <xs:documentation xml:lang="cs">
            kontaktní bod - Relevantní kontaktní informace pro katalogizovaný zdroj. Doporučuje se použít slovník VCard.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            kontaktpunkt - Relevante kontaktoplysninger for den katalogiserede ressource. Anvendelse af vCard anbefales.
          </xs:documentation>
          <xs:documentation xml:lang="el">
            σημείο επικοινωνίας - Συνδέει ένα σύνολο δεδομένων με ένα σχετικό σημείο επικοινωνίας, μέσω VCard.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            has contact point - Contact point for the further details about the terms of use.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            Punto de contacto - Información relevante de contacto para el recurso catalogado. Se recomienda el uso de vCard.
          </xs:documentation>
          <xs:documentation xml:lang="fr">
            point de contact - Relie un jeu de données à une information de contact utile en utilisant VCard.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            punto di contatto - Informazioni di contatto rilevanti per la risorsa catalogata. Si raccomanda l'uso di vCard.
          </xs:documentation>
          <xs:documentation xml:lang="ja">
            窓口 - データセットを、VCardを用いて提供されている適切な連絡先情報にリンクします。
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="terms_of_use" type="ccmm:terms_of_use"/>
</xs:schema>
