flattenCCMM/mirror-ccmm/description/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="../description-type/schema.xsd"/>
  <xs:complexType name="description" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#Description">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Description - All additional information that does not fit in any of the other categories. May be used for technical information or detailed information associated with a scientific instrument.
        Description of the resource may have also a description type.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="description_text" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#descriptionText">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            description text - Text describing the resource.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="description_type" type="ccmm:description_type" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#hasDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has description type - Relation to the type of the description.
            Type of the description from the codelist https://vocabs.ccmm.cz/registry/codelist/DescriptionType/.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="description" type="ccmm:description"/>
</xs:schema>
