ccmm-xsd-flat/mirror-ccmm/resource-to-agent-relationship/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../agent/schema.xsd"/>
  <xs:include schemaLocation="../resource-agent-role-type/schema.xsd"/>
  <xs:complexType name="resource_to_agent_relationship" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#ResourceToAgentRelationship">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Resource to agent relationship - An association class for attaching additional information to a relationship between Resource and Agent.
        Use to characterize a relationship between resources and agents, where the nature of the relationship is known but is not adequately characterized by the standard DCTERMS properties (dcterms:hasPart, dcterms:isPartOf, dcterms:conformsTo, dcterms:isFormatOf, dcterms:hasFormat, dcterms:isVersionOf, dcterms:hasVersion, dcterms:replaces, dcterms:isReplacedBy, dcterms:references, dcterms:isReferencedBy, dcterms:requires, dcterms:isRequiredBy) or PROV-O properties (prov:wasDerivedFrom, prov:wasInfluencedBy, prov:wasQuotedFrom, prov:wasRevisionOf, prov:hadPrimarySource, prov:alternateOf, prov:specializationOf). Roles of the agent in the relation are specified using had role relation.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="relation" type="ccmm:agent" sawsdl:modelReference="http://purl.org/dc/terms/relation">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has related agent - Specifies the agent an a given role in the relationship with the resource.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" type="ccmm:resource_agent_role_type" sawsdl:modelReference="http://www.w3.org/ns/dcat#hadRole">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            sehraná role - Funkce entity či agenta ve vztahu k jiné entitě či zdroji.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            havde rolle - Den funktion en entitet eller aktør har i forhold til en anden ressource.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            had role - The function of an entity or agent with respect to another entity or resource.
            May be used in a qualified-attribution to specify the role of an Agent with respect to an Entity. It is recommended that the value be taken from a controlled vocabulary of agent roles.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            La función de una entidad o agente con respecto a otra entidad o recurso.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            tiene rol - La funzione di un'entità o un agente rispetto ad un'altra entità o risorsa.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resource_to_agent_relationship" type="ccmm:resource_to_agent_relationship"/>
</xs:schema>
