flattenCCMM/mirror-ccmm/repository/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:complexType name="repository" sawsdl:modelReference="http://www.w3.org/ns/dcat#Catalog">
    <xs:annotation>
      <xs:documentation xml:lang="ar">
        فهرس قوائم البيانات - مجموعة من توصيفات قوائم البيانات
      </xs:documentation>
      <xs:documentation xml:lang="cs">
        Katalog - Řízená kolekce metadat o datových sadách a datových službách
      </xs:documentation>
      <xs:documentation xml:lang="da">
        Katalog - En udvalgt og arrangeret samling af metadata om ressourcer (fx datasæt og datatjenester i kontekst af et datakatalog). 
      </xs:documentation>
      <xs:documentation xml:lang="el">
        Κατάλογος - Μια επιμελημένη συλλογή μεταδεδομένων περί συνόλων δεδομένων
      </xs:documentation>
      <xs:documentation xml:lang="en">
        Repository - A catalogue or repository that hosts the Datasets or Data Services being described.
        A Web-based data catalog is typically represented as a single instance of this class.
        Datasets and data services are examples of resources in the context of a data catalog.
      </xs:documentation>
      <xs:documentation xml:lang="es">
        Catálogo - Una colección curada de metadatos sobre recursos (por ejemplo, conjuntos de datos y servicios de datos en el contexto de un catálogo de datos).
      </xs:documentation>
      <xs:documentation xml:lang="fr">
        Catalogue - Une collection élaborée de métadonnées sur les jeux de données
      </xs:documentation>
      <xs:documentation xml:lang="it">
        Catalogo - Una raccolta curata di metadati sulle risorse (ad es. sui dataset e relativi servizi nel contesto di cataloghi di dati).
      </xs:documentation>
      <xs:documentation xml:lang="ja">
        カタログ - データ・カタログは、データセットに関するキュレートされたメタデータの集合です。
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iri" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="label" sawsdl:modelReference="http://www.w3.org/2000/01/rdf-schema#label">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            label - Human readable name of the repository.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="repository" type="ccmm:repository"/>
</xs:schema>
