ccmm-xsd-flat/mirror-ccmm/subject/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="../subject-scheme/schema.xsd"/>
  <xs:complexType name="subject" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#Subject">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Subject - Subject, keyword, classification code, or key phrase describing the resource.
        Recommended approach is to use controlled list values, preferably in the form of IRI. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element maxOccurs="unbounded" name="title" sawsdl:modelReference="http://purl.org/dc/terms/title">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            title - Title of the subject.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="definition" sawsdl:modelReference="http://www.w3.org/2004/02/skos/core#definition">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            definition - Definition of the subject in the given context.
            Context is usually given by the subject scheme representing specific thesauri, vocabulary or simply a context (domain specific group at an university etc.).
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="classification_code" type="xs:string" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/datacite#subjectClassificationCode">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            classification code - The classification code used for notation of the subject term in the subject scheme.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="subject_scheme" type="ccmm:subject_scheme" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#inSubjectScheme">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            in subject scheme - Belonging of the subject to the subject scheme.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subject" type="ccmm:subject"/>
</xs:schema>
