ccmm-xsd-flat/mirror-ccmm/distribution-downloadable-file/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../file/schema.xsd"/>
  <xs:include schemaLocation="../application-profile/schema.xsd"/>
  <xs:include schemaLocation="../format/schema.xsd"/>
  <xs:include schemaLocation="../media-type/schema.xsd"/>
  <xs:include schemaLocation="../checksum/schema.xsd"/>
  <xs:complexType name="distribution_downloadable_file" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#Distribution-DownloadableFile">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Distribution - downloadable file - Physical embodiment of the dataset in a particular format. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="title" type="xs:string" sawsdl:modelReference="http://purl.org/dc/terms/title">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            title - A name given to the distribution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="access_url" type="ccmm:file" sawsdl:modelReference="http://www.w3.org/ns/dcat#accessURL">
        <xs:annotation>
          <xs:documentation xml:lang="ar">
            رابط وصول - أي رابط يتيح الوصول إلى البيانات. إذا كان الرابط هو ربط مباشر لملف يمكن تحميله استخدم الخاصية downloadURL
          </xs:documentation>
          <xs:documentation xml:lang="cs">
            přístupová adresa - URL zdroje, přes které je přístupná distribuce datové sady. Příkladem může být vstupní stránka, RSS kanál či SPARQL endpoint. Použijte ve všech případech kromě URL souboru ke stažení, pro které je lepší použít dcat:downloadURL.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            adgangsadresse - En URL for en ressource som giver adgang til en repræsentation af datsættet. Fx destinationsside, feed, SPARQL-endpoint. Anvendes i alle sammenhænge undtagen til angivelse af et simpelt download link hvor anvendelse af egenskaben downloadURL foretrækkes.
          </xs:documentation>
          <xs:documentation xml:lang="el">
            URL πρόσβασης - Μπορεί να είναι οποιουδήποτε είδους URL που δίνει πρόσβαση στη διανομή ενός συνόλου δεδομένων. Π.χ. ιστοσελίδα αρχικής πρόσβασης, μεταφόρτωση, feed URL, σημείο διάθεσης SPARQL. Να χρησιμοποιείται όταν ο κατάλογος δεν περιέχει πληροφορίες εαν πρόκειται ή όχι για μεταφορτώσιμο αρχείο.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            access URL - A URL that gives access to a Distribution of the Dataset.
            The resource at the access URL contains information about how to get the Dataset. It shall be the web page (not a document file).
          </xs:documentation>
          <xs:documentation xml:lang="es">
            URL de acceso - Puede ser cualquier tipo de URL que de acceso a una distribución del conjunto de datos, e.g., página de destino, descarga, URL feed, punto de acceso SPARQL. Esta propriedad se debe usar cuando su catálogo de datos no tiene información sobre donde está o cuando no se puede descargar.
          </xs:documentation>
          <xs:documentation xml:lang="fr">
            URL d'accès - Ceci peut être tout type d'URL qui donne accès à une distribution du jeu de données. Par exemple, un lien à une page HTML contenant un lien au jeu de données, un Flux RSS, un point d'accès SPARQL. Utilisez le lorsque votre catalogue ne contient pas d'information sur quoi il est ou quand ce n'est pas téléchargeable.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            indirizzo di accesso - Un URL di una risorsa che consente di accedere a una distribuzione del set di dati. Per esempio, pagina di destinazione, feed, endpoint SPARQL. Da utilizzare per tutti i casi, tranne  quando  si tratta di un semplice link per il download nel qual caso è preferito downloadURL.
          </xs:documentation>
          <xs:documentation xml:lang="ja">
            アクセスURL - データセットの配信にアクセス権を与えるランディング・ページ、フィード、SPARQLエンドポイント、その他の種類の資源。
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="download_url" type="ccmm:file" sawsdl:modelReference="http://www.w3.org/ns/dcat#downloadURL">
        <xs:annotation>
          <xs:documentation xml:lang="ar">
            رابط تحميل - رابط مباشر لملف يمكن تحميله. نوع الملف يتم توصيفه باستخدام الخاصية dcterms:format dcat:mediaType 
          </xs:documentation>
          <xs:documentation xml:lang="cs">
            URL souboru ke stažení - URL souboru ke stažení v daném formátu, například CSV nebo RDF soubor. Formát je popsán vlastností distribuce dcterms:format a/nebo dcat:mediaType.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            downloadURL - URL til fil der kan downloades i et bestemt format. Fx en CSV-fil eller en RDF-fil. Formatet for distributionen angives ved hjælp af egenskaberne dcterms:format og/eller dcat:mediaType.
          </xs:documentation>
          <xs:documentation xml:lang="el">
            URL μεταφόρτωσης - Είναι ένας σύνδεσμος άμεσης μεταφόρτωσης ενός αρχείου σε μια δεδομένη μορφή. Π.χ. ένα αρχείο CSV ή RDF. Η μορφη αρχείου περιγράφεται από τις ιδιότητες dcterms:format ή/και dcat:mediaType της διανομής.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            download URL - A URL that is a direct link to a downloadable file in a given format.
            Download URL SHOULD be used for the URL at which this distribution is available directly, typically through a HTTP Get request.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            URL de descarga - La URL de un archivo descargable en el formato dato. Por ejemplo, archivo CSV o archivo RDF. El formato se describe con las propiedades de la distribución dcterms:format y/o dcat:mediaType.
          </xs:documentation>
          <xs:documentation xml:lang="fr">
            URL de téléchargement - Ceci est un lien direct à un fichier téléchargeable en un format donnée. Exple fichier CSV ou RDF. Le format est décrit par les propriétés de distribution dcterms:format et/ou dcat:mediaType.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            URL di scarico - Questo è un link diretto al file scaricabile in un dato formato. E.g. un file CSV o un file RDF. Il formato è descritto dal dcterms:format e/o dal dcat:mediaType della distribuzione.
          </xs:documentation>
          <xs:documentation xml:lang="ja">
            ダウンロードURL - dcat:downloadURLはdcat:accessURLの特定の形式です。しかし、DCATプロファイルが非ダウンロード・ロケーションに対してのみaccessURLを用いる場合には、より強い分離を課すことを望む可能性があるため、この含意を強化しないように、DCATは、dcat:downloadURLをdcat:accessURLのサブプロパティーであると定義しません。
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conforms_to_schema" type="ccmm:application_profile" sawsdl:modelReference="http://purl.org/dc/terms/conformsTo">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            conforms to schema - An established standard to which the distribution conforms.
            This property SHOULD be used to indicate the model, schema, ontology, view or profile that this representation of a dataset conforms to. This is (generally) a complementary concern to the media-type or format.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" type="ccmm:format" sawsdl:modelReference="http://purl.org/dc/terms/format">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has format - The file format of the distribution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="media_type" type="ccmm:media_type" sawsdl:modelReference="http://www.w3.org/ns/dcat#mediaType">
        <xs:annotation>
          <xs:documentation xml:lang="ar">
            نوع الميديا - يجب استخدام هذه الخاصية إذا كان نوع الملف معرف ضمن IANA
          </xs:documentation>
          <xs:documentation xml:lang="cs">
            typ média - Typ média distribuce definovaný v IANA.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            medietype - Medietypen for distributionen som den er defineret af IANA.
          </xs:documentation>
          <xs:documentation xml:lang="el">
            τύπος μέσου - Η ιδιότητα αυτή ΘΑ ΠΡΕΠΕΙ να χρησιμοποιείται όταν ο τύπος μέσου μίας διανομής είναι ορισμένος στο IANA, αλλιώς η ιδιότητα dcterms:format ΔΥΝΑΤΑΙ να χρησιμοποιηθεί με διαφορετικές τιμές.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            media type - The media type of the distribution as defined by IANA
            This property SHOULD be used when the media type of the distribution is defined in IANA (using value from https://www.iana.org/assignments/media-types/media-types.xhtml), otherwise Format MAY be used with values from Publication Office of the EU File type codelist http://publications.europa.eu/resource/dataset/file-type.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            tipo de media - Esta propiedad debe ser usada cuando está definido el tipo de media de la distribución en IANA, de otra manera dcterms:format puede ser utilizado con diferentes valores
          </xs:documentation>
          <xs:documentation xml:lang="fr">
            type de média - Cette propriété doit être utilisée quand c'est définit le type de média de la distribution en IANA, sinon dcterms:format DOIT être utilisé avec différentes valeurs.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            tipo di media - Il tipo di media della distribuzione come definito da IANA
          </xs:documentation>
          <xs:documentation xml:lang="ja">
            メディア・タイプ - このプロパティーは、配信のメディア・タイプがIANAで定義されているときに使用すべきで（SHOULD）、そうでない場合には、dcterms:formatを様々な値と共に使用できます（MAY）。
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="byte_size" type="xs:integer" sawsdl:modelReference="http://www.w3.org/ns/dcat#byteSize">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            byte size - The size of a Distribution in bytes. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="checksum" type="ccmm:checksum" sawsdl:modelReference="http://spdx.org/rdf/terms#checksum">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has checksum - A mechanism that can be used to verify that the contents of a distribution have not changed.
            The checksum is related to the download URL.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="distribution-downloadable-file" type="ccmm:distribution_downloadable_file"/>
</xs:schema>
