ccmm-xsd-flat/mirror-ccmm/time-representation/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../time-interval/schema.xsd"/>
  <xs:include schemaLocation="../time-instant/schema.xsd"/>
  <xs:complexType name="time_representation">
    <xs:choice>
      <xs:element name="time_interval" type="ccmm:time_interval"/>
      <xs:element name="time_instant" type="ccmm:time_instant"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="time_representation" type="ccmm:time_representation"/>
</xs:schema>
