ccmm-xsd-flat/mirror-ccmm/checksum/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../checksum-algorithm/schema.xsd"/>
  <xs:complexType name="checksum" sawsdl:modelReference="http://spdx.org/rdf/terms#Checksum">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Checksum - A value that allows the contents of a file to be authenticated.
        This class allows the results of a variety of checksum and cryptographic message digest algorithms to be represented.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="checksum_value" type="xs:hexBinary" sawsdl:modelReference="http://spdx.org/rdf/terms#checksumValue">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            checksum value - A lower case hexadecimal encoded digest value produced using a specific algorithm. 
            Value is generated automatically using given algorithm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="algorithm" type="ccmm:checksum_algorithm" sawsdl:modelReference="http://spdx.org/rdf/terms#algorithm">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            uses algorithm - The algorithm used to produce the subject Checksum.
            Version 2.2 of [SPDX] defines individuals for the following algorithms: MD2, MD4, MD5, MD6, SHA-1, SHA-224, SHA-256, SHA-384, SHA-512.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checksum" type="ccmm:checksum"/>
</xs:schema>
