flattenCCMM/mirror-ccmm/contact-details/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../address/schema.xsd"/>
  <xs:complexType name="contact_details" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#ContactDetails">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Contact details - Details to contact the agent in a relationship to the resource.
        Describes contact details, such as telephone, e--mail address etc.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_box" type="xs:string" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#dataBox">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            data box - Code of the data box.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="email" type="xs:string" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#email">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            email - Email address.
            Email address in standard format, e.g. john.doe@domain.com
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="phone" type="xs:string" sawsdl:modelReference="https://model.ccmm.cz/vocabulary/ccmm#phone">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            phone - Phone number
            Phone number in international format +xx(x) xxx xxx xxx
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="address" type="ccmm:address" sawsdl:modelReference="http://www.w3.org/2006/vcard/ns#hasAddress">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has address - To specify the components of the delivery address for the object
            Either links to IRI of address in address registry or describes the address using Address class attributes.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contact_details" type="ccmm:contact_details"/>
</xs:schema>
