flattenCCMM/mirror-ccmm/time-interval/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://schema.ccmm.cz/research-data/1.1" xmlns:ccmm="https://schema.ccmm.cz/research-data/1.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xml="http://www.w3.org/XML/1998/namespace">
  <xs:include schemaLocation="../time-instant/schema.xsd"/>
  <xs:complexType name="time_interval" sawsdl:modelReference="http://www.w3.org/2006/time#Interval">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Time interval - A temporal entity with an extent or duration
        Use for representation of time reference represented as an interval. Interval is represented by beginning and end time instants.
      </xs:documentation>
      <xs:documentation xml:lang="es">
        intervalo de tiempo - Una entidad temporal con una extensión o duración.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="iri" type="xs:anyURI"/>
      <xs:element name="beginning" type="ccmm:time_instant" sawsdl:modelReference="http://www.w3.org/2006/time#hasBeginning">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has beginning - Time instant representing the beginning of a temporal interval.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            tiene principio - Comienzo de una entidad temporal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end" type="ccmm:time_instant" sawsdl:modelReference="http://www.w3.org/2006/time#hasEnd">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            has end - Time instant representing the end of a temporal interval.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            tiene fin - Final de una entidad temporal.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="time_interval" type="ccmm:time_interval"/>
</xs:schema>
